__pycache__/
*.pyc
train_cnn_extract_features/__pycache__/
train_cnn_extract_features/record/
train_cnn_extract_features/spa_features/__pycache__/
train_cnn_extract_features/spa_features/
spatial_temporal_attention/__pycache__/
spatial_temporal_attention/saved_weights/
spatial_temporal_attention/Conv_ucf101_24_tensorboard/



